@import '../../../index.scss';

nav{
    position: fixed;
   // width: 100%;
    width: 50%;
    bottom: 3%;
    z-index: 12;
    left: 50%;
    transform: translate(50%,0) ;
   //transform: scaleX(1);
    transition: .5s;
    ul{
       // width: 55%;
        width: 100%;
         //margin: 0 auto;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $dark;
        padding: 2.5%;
        border-radius: 30px;
        li{
            list-style: none;
            display: inline;
            .item{
               font-size: 19px;
               color: #fff;
               text-decoration: none;
               color: $white;
               transition: 0.7s;
               &:hover{
                color: $cyan;
               }
            }
            .item.active{
                color: $cyan;
            }
        }
    }
}

/*_____DIRECTLY LINKED WITH JAVASCRIPT______*/

.openNav{
  transform: scaleX(1) translate(-50%,0);
//   visibility: visible;
//   opacity: 1;
}
.closeNav{
    // visibility: hidden;
    // opacity: 0;
   transform: scaleX(0) translate(0,0);
}

/*____DIRECTLY LINKED WITH JAVASCRIPT_____*/

@media(max-width: 1150px){
    nav {
      width: 60%;
    }
}

@media(max-width: 992px){
    nav{
      width: 76%;
    }
    nav ul{
        width: 100%;
    }
}

@media(max-width:767px){
    nav{
       top: 60px;
       margin: 0;
       height: 80vh;
       width: 90%;
    }
    nav ul{
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 1.5em;
        box-shadow: 0 0 12px 7px rgba(0,0,0,0.4);
        margin: 0;
        padding: 5% 0;
    }
    nav ul li .item {
        font-size: 24px;
    }
}