@import '../../../index.scss';
.innovation-container{
    padding: 3% 10%;
    img{
        border-radius: 20px;
    }
}
.active-btn{
    background-color: $cyan !important;
}

.iframe-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe{
    height: 100vh;
    border-radius: 20px;
    width: 93%;
}