@import '../../../index.scss';

.btn-container{
    margin-top: 3%;
    padding: 0 2.5% !important;
    button{
        width: 100%;
        @include para;
        color: $white;
        background-color: $lightBlack;
        border: none;
        border-radius: 30px;
        padding: 6% 0;
        margin-bottom: 3%;
        &:hover{
            background: $cyan !important;
        }
    }
}

.portfolio-wrap{
    padding: 4% 2.5% !important;
    .card{
        background-color: $lightBlack;
        padding: 6% 4%;
        border-radius: 25px;
        transition: .7s;
        border-radius: 30px;
        overflow: hidden;
        img{
            border-radius: 20px;
        }
        iframe{
          height: 40vh;
          border-radius: 20px;
          body{
            width: 100%;
            img{
                width: 100%;
            }
          }
           
        }
        .card-body{
            padding-left: 0;
            padding-right: 0;
            .card-title{
              font-weight: bold;
              color: $white;
              font-size: $caption;
            }
            .card-text{
                @include para;
               p{
                margin-bottom: 0%;
               }
            }
            a{
                color: $white;
                text-decoration: none;
                cursor: pointer;
                transition: .6s;
                font-family:  $inter;
                font-weight: 200;
                font-style:italic;
                &:hover{
                    color: $cyan;
                }
            }
        }
       
        &:hover{
            box-shadow: 1px 1px 4px rgba(7, 86, 117, 0.5);
            background-image: linear-gradient(170deg, #000506 5%, #003441 15%, #004a5d, #001419 27%, #000202 30%);
        }
        
    }
}

@media(max-width: 1400px){
    $small:17px;
    $caption: 27px;
    .btn-container button {
        width: 100%;
        font-size: $small;
        margin-bottom: 13px;
    }
    .portfolio-wrap .card .card-body .card-title {
        font-size: 22px;
    }
    .portfolio-wrap .card .card-body .card-text {
        font-size: $small;
    }
}

@media(max-width: 767px){
    $caption: 22px;
    .portfolio-wrap .card .card-body .card-title {
        font-size: $caption;
    }
}

/*_____DIRECTLY LINKED WITH JSX____*/

.btnBg{
   background-color: $cyan;
}

/*_____DIRECTLY LINKED WITH JSX____*/