.loader{
    font-size: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(270deg, #0b0b0b 12%, #092937 37%, #064b68 51%, #073e55 57%, #0b0f11 89%);
    /* background: #0b0b0b; */
    z-index: 200;
}

.loading-spinner {
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%) translateZ(0);
    top: 50%;
    width: 120px;
    height: 120px;
    z-index: 1;
    background: url("../../assets/Images/logo-2.png") center no-repeat;
    background-size: contain;
	  /*animation: spinning 1.5s infinite ease-in-out;*/
}

.loading-spinner:after {
	content:"";
	position:absolute;
	width:160px;
	height:160px;
  background-color: rgb(244 241 241 / 0%);
  border-radius: 100%;
  margin: -15px;
  box-shadow: 0 4px 0 0 #f7f3f3;
	transition: all 1s linear;
	animation: lds-eclipse 1s linear infinite;
}



@keyframes spinning {
	0% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
	50% { transform: translate(-50%,-50%) scale(1.1) translateZ(0);}
	100% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
